[Desktop Entry]
Version=1.0
Type=Application
Name=Falkon
Comment=A fast and secure web browser
Exec=falkon %u
Icon=falkon
Path=
Terminal=false
StartupNotify=false
