size=10
label=Github:
history-length=25
use-url=true
use-email=false
use-dir=false
use-wordexp=false
use-bang=false
use-backslash=false
use-smartbookmark=true
use-shell=true
smartbookmark-url=https://github.com/search?q=
foreground-color=rgb(0,0,0)
background-color=
base-color=rgb(222,221,218)

